# Build artifacts
.cache/
.temp/
dist/
.output/
.astro/

# Dependencies
node_modules/
bower_components/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.production

# System files
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.editorconfig
*.swp
*.swo

# Obsidian
src/content/posts/.copilot-index/*
src/content/posts/.obsidian/*

# Trash
.trash/*
src/assets/lqip-map.json
