---
import LinksList from '@/components/LinksList.astro'
import { allLocales } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}

const currentLang = getLangFromLocale(Astro.currentLocale)
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />

  <div class="mt-6 lg:mt-10.5">
    <LinksList lang={currentLang} />
  </div>
</Layout>
