---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello,欢迎来到我的个人网站</h1>
			<p>
				本站采用了全新的Astro架构。
			</p>
			<p>
				Astro是一个现代化的静态站点生成器，旨在提供更快的加载速度和更好的开发体验。
			</p>
			<p>以下是一些关于如何使用此模板的建议：</p>
			<ul>
				<li>编辑此页面以添加您的个人信息和项目列表</li>
				<li>编辑站点标题和导航栏中的链接</li>
				<li>添加您的姓名到页脚中</li>
				<li>检查包含的博客文章在 <code>src/content/blog/</code> 目录下</li>
				<li>自定义博客文章页面布局在 <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				如果您在使用过程中遇到任何问题，请参考<a href="https://docs.astro.build/"
					>官方文档
				</a>或<a href="https://astro.build/chat">加入我们的Discord社区</a>来获取帮助。
			</p>
			<p>
				如果您想找到一个更有个性化的博客模板，请查看<a href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template.
			</p>
		</main>
		<Footer />
	</body>
</html>
