---
import type { Language } from '@/i18n/config'
import { getTagPath } from '@/i18n/path'

interface Props {
  tags: string[]
  currentTag?: string
  lang: Language
}

const { tags, currentTag = '', lang } = Astro.props
---

<div class="no-heti flex flex-wrap gap-x-3 gap-y-3.2">
  {tags.map(tag => (
    <a
      href={getTagPath(tag, lang)}
      class:list={[
        'inline-flex items-center justify-center border border-gray-300 rounded-lg px-4 py-2',
        'transition-all ease-out duration-300 hover:border-black',
        currentTag === tag
          ? 'border-black'
          : '',
      ]}
    >
      {tag}
    </a>
  ))}
</div>
