html{
    background-color:white;
    margin: 0%;
}

body{
    background-color:gainsboro;
    margin:2% ;
    padding: 2%;
}

nav{
    background-color: silver;
    margin:auto;
    font-weight: bold;
}

ul{
    padding: 1%;
    text-transform: uppercase;
}

a{
    color:cadetblue;
}

blockquote{
    font-style: italic;
    margin-left: 0%;
}

img {
    margin-top: 4px;
    display: flex;
    display: inline;
    width:5%;
    min-width: 128px;
}
